.navbar {
    color: white;
    list-style: none;
    text-align: center !important;
    display: inline;
}

.menuList {
    width: 100%;
    color: white;
    text-align: center;

}

.navigation {
    text-align: center;

}



