.card{
            /* FadeIn */
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

    display: inline-flex;
    width: 256px;
    height: 256px;
    color:black;
    margin: 10px;
    opacity: 1;
    margin-bottom: 120px;
    border-radius: 0 !important;
    background-color:transparent !important;
    transition: transform .2s;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
          transition: all .2s ease;
}

.card:hover {
    transform: scale(1.05);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.card-body-background{
    opacity: 0.5;
    position: relative;
    background-color: black;
    z-index: 1;
    top: 160px;
    width: 180px;
    height: 140px;
    margin: auto;
}
.card-text{
    margin: 0px;
    opacity: 1 !important;
}
.card-body {
    padding:10px;
    height: 115px;
    position: relative;
    z-index: 1;
    text-align: center;
    color:white;
    top:10px;
    font-size: 14px;
}

.card-img-top{
    position:absolute;

}
.foodTitle{
    margin: 0px !important;
}

.card-price{
    margin: 0px;
}

.add-button{
    margin-left: 5px !important;
    margin-top: 5px !important;
    z-index: 1 !important;
}

.add-button:active {

    border: none;
    outline:none;
}

.add-button:hover {

    border: none;
    outline:none;
}




@media only screen and (max-width: 1024px) {

    .card{

        display: inline-flex;
        width: 240px;
        height: 236px;
        color:black;
        margin: 10px;
        opacity: 1;
        margin-bottom: 120px;
        border-radius: 0 !important;
        background-color:transparent !important;
    }
    .card-body-background{

        opacity: 0.7;
        position: relative;
        background-color: black;
        z-index: 1;
        top: 160px;
        width: 200px;
        height: 150px;
        margin: auto;
    }
    .card-text{
        margin: auto;

    }
    .card-body {

        padding:5px;
        height: 115px;
        position: relative;
        z-index: 1;
        text-align: center;
        color:white;
        top:10px;
        font-size: 14px;
    }
    .card-img-top{
        position:absolute;

    }
    .foodTitle{
        margin: 0px !important;
    }

    .card-price{
        margin: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .card{
        display: inline-flex;
        width: 175px;
        height: 110px;
        color:black;
        margin: 2px;
        opacity: 1;
        margin-bottom: 160px;
    }

    .card-body-background{
        position: relative;
        opacity: 0.7;
        background-color: black;
        z-index: 1;
        top:110px;
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .card-body {
        position: relative;
        z-index: 1;
        text-align: center;
        color:white;
        top:10px;
        font-size: 12px;
    }

    .foodTitle {
        position:relative;
        margin: 0;

    }

}


@media only screen and (max-width: 600px) {
    .card{
        display: inline-flex;
        width: 175px;
        height: 175px;
        color:black;
        margin: 10px;
        opacity: 1;
        margin-bottom: 100px;
    }

    .card-body-background{
        position: relative;
        opacity: 0.7;
        background-color: black;
        z-index: 1;
        top:100px;
        width: 150px;
        height: 120px;
        margin: auto;


    }

    .card-body {
        position: relative;
        z-index: 1;
        text-align: center;
        color:white;
        top:0px;
        font-size: 12px;
    }

    .foodTitle {
        position:relative;
        margin: 0;
    }

}

@media only screen and (max-width: 411px) {
    .card{
        display: inline-flex;
        width: 160px;
        height: 160px;
        color:black;
        margin: 2px;
        opacity: 1;
        margin-bottom: 100px;
    }

    .card-body-background{
        position: relative;
        opacity: 0.7;
        background-color: black;
        z-index: 1;
        top:100px;
        width: 100px;
        height: 100px;
        margin: auto;


    }

    .card-body {
        position: relative;
        z-index: 1;
        text-align: center;
        color:white;
        top:0px;
        font-size: 10px;
    }

    .foodTitle {
        margin: 0;
    }

   .card-price {
        margin: 0;
    }
}